

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;



.sticky {
    position:sticky;
    top: 0;
    width: 100%;
    z-index: 50;
}

/* inputs */
.input
{
    @apply bg-transparent rounded-md  border-slate-600 dark:border-slate-200
}

.label
{
    @apply text-sm font-semibold text-textSecondaryLight dark:text-textSecondaryDark
}

.btn
{
    @apply bg-buttonLight dark:bg-buttonDark  dark:text-textDark font-semibold px-4 py-2 text-zinc-900
}

.btn2
{
    @apply bg-zinc-800 dark:bg-zinc-500  text-bgLight dark:text-textDark font-semibold px-4 py-2
}

/* fonts */
.title
{
    @apply text-4xl  md:text-5xl font-title font-bold text-textSecondaryLight dark:text-textSecondaryDark
}

.title2
{
    @apply text-3xl md:text-4xl font-semibold font-title text-textSecondaryLight dark:text-textSecondaryDark
}

.title3
{
    @apply text-xl md:text-2xl font-title font-semibold text-textSecondaryLight dark:text-textSecondaryDark
}



/* topography */
.section
{
    @apply px-5 w-full py-10
}

.tabler
{
    @apply table-auto overflow-x-scroll md:mx-auto scrollbar scrollbar-track-slate-100 scrollbar-thumb-slate-300 dark:scrollbar-track-slate-700 dark:scrollbar-thumb-slate-500
}

.table-title
{
    @apply font-title uppercase font-semibold text-textSecondaryLight dark:text-textSecondaryDark
}

.loading
{
    @apply h-6 w-6 block border-2 border-zinc-300  border-t-zinc-700 border-r-zinc-700 animate-spin rounded-full
}

.mySwiper
{
    @apply relative
}

.prev
{
    @apply absolute top-1/2
}

.next
{
    @apply absolute
}

.size
{
    @apply block  p-2 rounded-md font-title bg-teal-950 text-bgLight dark:bg-bgLight  dark:text-bgDark font-bold cursor-pointer
}

.size-active
{
    @apply border-4  border-rose-700 dark:border-amber-500
}

.color
{
    @apply h-10 w-10 rounded-full block cursor-pointer border
}

.color-active
{
    @apply border-4 border-zinc-600 dark:border-rose-700
}

.pulse
{
    @apply bg-zinc-300 dark:bg-zinc-700 block animate-pulse
}


.form
{
    @apply mx-auto max-w-xl
}

/* thumb */
.thumb
{
    @apply h-20 w-20 cursor-pointer  border-primaryLight dark:border-primaryDark backdrop-blur-0
}


.thumb-active
{
    @apply h-20 w-20 cursor-pointer border-2 border-primaryLight dark:border-primaryDark backdrop-blur-0
    transition ease-in-out 
}

.quantity
{
    @apply h-8 w-8 md:h-14 md:w-14 border border-primaryLight dark:border-primaryDark grid place-content-center
    font-title font-bold
}

.hr
{
    @apply bg-zinc-600 dark:bg-zinc-300
}


/* Reeels */
/* hide scrollbar for chrome,safari and operamini */
.app__videos::-webkit-scrollbar
{
    display: none;
}

/* hide scrollbar for firefox,edge and operamini */
.app__videos
{
    -ms-overflow-style: none;
    scrollbar-width: none;
}



/* brand */
/* hide scrollbar for chrome,safari and operamini */
.brand::-webkit-scrollbar
{
    display: none;
}

/* hide scrollbar for firefox,edge and operamini */
.brand
{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ticker
{
    @apply w-[60%] ml-8 mb-5 h-fit 
}

/* active */
.active
{
    @apply flex items-center gap-x-3 px-3 py-2
}

.active-link
{
    @apply flex items-center gap-x-3 px-3 py-2 text-zinc-100 bg-primaryLight dark:bg-primaryDark rounded-md
}


/* active-navs */
.active-nav
{
    @apply flex items-center gap-x-1  text-xs uppercase font-title 
}

.active-nav-link
{
    @apply flex items-center gap-x-1 uppercase font-title text-xs relative text-emerald-700 dark:text-rose-500 py-1 transition-all duration-500
    after:w-full after:h-[2px] after:bg-emerald-700 after:dark:bg-rose-600 after:absolute after:-bottom-1 after:right-1 after:translate-x-1 ease-in-out 
    before:w-full before:h-[2px] before:bg-emerald-700 before:dark:bg-rose-600 before:absolute before:-top-1 before:left-1 before:-translate-x-1
}


/* PAGINATION */
.pagination
{
    @apply flex items-center justify-center list-none
}

.page-num
{
    @apply border border-zinc-600 
}



/* SEARCH */
.search-bar
{
    @apply w-4/5 sm:w-1/2 inline-flex items-center border border-zinc-600 rounded-full gap-x-2 px-3 
}

.search-input
{
    @apply flex-1 rounded-full bg-transparent border-none focus:outline-none
}